# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
target/generated-sources/
target/generated-test-sources/
target/classes
target/test-classes

